/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/****** bar noir haut ecran */
.btn-blackbar1{
	color: white;
	background: black;
	font-size: larger;
	border: none;
	cursor: pointer;
}
.btn-blackbar2{
	background: white;
	font-size:small;
	font-weight: 700;
	border: none;
	border-radius: 20px;
	height: 40px;
	padding: 0px 10px;
	cursor: pointer;
}
.blackbar{
	background-color: black;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
}
/*** login button */

.loginBtn{
	cursor: pointer;
}

/******modal *****/
.modal-container{
	position: fixed;
	top:0;
	left: 0;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
	transition: visibility 0.4s;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-container.active .overlay-modal{
	opacity: 1;
	transition: opacity 0.4s ease-out;
}
.modal-container.active {
	visibility: visible;
}
.overlay-modal{
	opacity: 0;
	width: 100%;
	height: 100%;
	background: hsla(0, 0%, 64%, 0.527);
	transition: opacity 0.4s 0.2s ease-out ;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal{
	opacity: 0;
	width: 100%;
	max-width: 700px;
	min-width: 300px;
	padding: 30px;
	background: #fff;
	border-radius: 10px;
	transition: opacity 0.4s ease-out;
	display: none;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.modal.active {
	opacity: 1;
	display: flex;
	transition: opacity 0.4s 0.2s ease-out;
}
.modal h1{
	color: black;
	font-family:'Courier New', Courier, monospace;
	margin: 40px 0px;
}
.modal img{
	width: 100%;
	position: relative;
}

.trash {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: black;
	color: white;
	height: 25px;
	width: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.modal-img-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 10px;
	width: 80%;
	margin-bottom: 40px;
}
.close-modal{
	padding: 8px 10px;
	border: none;
	font-size: 18px;
	position: absolute;
	top:10px;
	right: 10px;
	cursor: pointer;
	background: #fff;
}

.modal-btn {
background-color: white;
border: none;
font-size: large;
cursor: pointer;
visibility: hidden;
}
.modal-btn i{
	padding-right: 5px;
}
.modal-btn2{
	background-color: white;
	border: none;
	font-size: large;
	padding: 10px 0px 0px 60px;
	visibility: hidden;
}
.modal-btn2 i{
	padding-right: 5px;
}


/* 2eme modale */
.add-picture{
	width: 220px;
	height: 40px;
	margin: 20px 0px;
	cursor: pointer;
	border-radius:60px ;
	background-color: #1D6154;
	color: white;
}
.modal-container2{
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	transition: visibility 0.4s;
}
.modal-container2.active {
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-container2.active .second-modal{
	opacity: 1;
	transition: opacity 0.4s 0.2s ease-out;
}
.second-modal{
	opacity: 0;
	width: 95%;
	max-width: 500px;
	min-width: 300px;
	padding: 30px;
	background: #fff;
	border-radius: 10px;
	transition: opacity 0.4s ease-out;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}
.second-modal.active {
	display: flex;
	opacity: 1;
	position: relative;
}
.close-second-modal{
	padding: 8px 10px;
	border: none;
	font-size: 18px;
	position: absolute;
	top:10px;
	right: 10px;
	cursor: pointer;
	background: #fff;
}

.back-modal{
	background-color: white;
	border: none;
	position: absolute;
	top: 20px;
	left: 20px;
	cursor: pointer;
}

.Ajouter-photo{
width: 80%;
height: 40px;
border: none;
border-radius: 60px;
font-size: small;
font-weight: 600;
color: rgb(80, 123, 154);
background-color: rgb(160, 180, 192);
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}
.img-add-modal2{
	background-color: rgb(212, 227, 236);
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.modal2-title{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 10px 0px;
}
.modal2-title input{
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 50px;
	margin: 10px 0px;
	
}
.modal2-categorie{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.modal2-categorie select{
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 50px;
	margin-bottom: 30px;
	margin: 10px 0px;
}

.second-modal input{
	cursor: pointer;
	height: 40px;
}

#delete-picture {
	background: #fff;
	border: none;
	color: red;
	margin: 5px;
	padding: 0px;
}

.second-modal input[type="submit"]{
	background-color: grey;
	display: flex;
	justify-content: center;
	cursor: not-allowed;
}

/**** filters */

.filters {
	display: flex;
	gap: 10px;
	margin: 20px 0;
	justify-content: center;
}

.filters button {
	height: 40px;
	width: 150px;
	border-radius: 30px;
	border: 2px solid green;
}
.filters button:hover{
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/************************************************/

.mainLogin{
	padding-bottom: 220px;
	
}

.login-title{
	display: flex;
	justify-content: center;
	padding: 50px 0px;
}

#sectionLogin h2 {
	margin-bottom: 20px;
}
#sectionLogin{
	width: 50%;
    margin: auto;
}
#sectionLogin label{
	margin: 2em 0 1em 0;
}
#sectionLogin form{
	text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
#sectionLogin input{
	height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	
}